# Project Root Ignores
.idea/
.vscode/
.DS_Store
*.log

# Ignore actual app hosting folder (if testing locally inside the same dir)
hosting-apps/
/backend/database/database.sqlite
/backend/database/database.sqlite-journal

# Backend and frontend envs
backend/.env
backend/.env.backup
backend/.env.production
frontend/.env
frontend/.env.local

# Backend storage & cache
backend/bootstrap/cache/
backend/storage/app/
backend/storage/app/private/
backend/storage/app/public/
backend/storage/framework/
backend/storage/framework/cache/
backend/storage/framework/cache/data/
backend/storage/framework/sessions/
backend/storage/framework/testing/
backend/storage/framework/views/
backend/storage/logs/

# Frontend dependencies
frontend/package-lock.json

/.env
/credentials.txt
/requirement.txt